<div class="row-mx-auto">
  <h1>Your Interviews schedule and results</h1>

</div>

<div class="container-fluid status-table mt-5">
  <div class="col-12">
    <div class="margin">
    <table class="table table-bordered table-responsive-lg table-active table-hover table-info">
      <thead>
        <tr>
          <th>Interviewer</th>
          <th>Date</th>
          <th>Time</th>
          <th>Level</th>
          <th>Feedback</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let status of status">
          <td>{{status.i_name}}</td>
          <td>{{status.date}}</td>
          <td>{{status.time}}</td>
          <td>{{status.level}}</td>
          <td *ngIf="status.feedback>5" style="color:green">Positive</td>
          <td *ngIf="status.feedback<5&&status.feedback>0" style="color:red">Negative</td>
          <td *ngIf="status.feedback<0" style="color:blue">Pending</td>
          <!-- <td *ngIf="status.status==''">Initial</td> -->
          <td>{{status.status}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  </div>
</div>